form {
  margin-top: 3rem;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: black;
  border: 1;

  border-radius: 1;
}

form input:focus {
  box-shadow: black !important;
}

form input::-webkit-input-placeholder {
  color: black !important;
}

button {
  background: red;
  border-radius: 8px;
  color: white;
}
